---
import ChapterOne from "../216/ch1.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <!-- <header class="sticky top-0 z-50 mt-12 flex w-full p-2">
      <nav
        class="mx-auto flex rounded-3xl border border-neutral-400 bg-[#e6e4e0] bg-opacity-50 p-4 backdrop-blur-sm"
      >
        <div class="ml-1 mr-24 pt-[0.125rem] font-serif text-3xl font-bold">
          Areeb's Notes
        </div>
        <a class="mx-4 my-auto underline">216</a>
        <a class="mx-4 my-auto underline">330</a>
        <a class="mx-4 my-auto underline">351</a>
        <div class="relative ml-4">
          <input
            class="rounded-xl border border-neutral-400 bg-white p-2"
            placeholder="Search"
          />
          <div
            class="absolute right-10 top-2 flex h-6 w-6 items-center justify-center rounded-lg bg-neutral-200 text-xs"
          >
            ⌘
          </div>
          <div
            class="absolute right-2 top-2 flex h-6 w-6 items-center justify-center rounded-lg bg-neutral-200 text-xs"
          >
            K
          </div>
        </div>
      </nav>
    </header> -->
    <main class="mx-auto max-w-screen-md p-4 pt-12">
      <!-- <div class="font-mono text-6xl font-black text-neutral-700">
        Lecture 01
      </div>
      <div class="mb-4 font-mono text-2xl text-neutral-400">January 26th</div> -->
      <article class="relative mt-4">
        <!-- <div
          class="absolute -left-24 top-2 flex h-16 w-16 cursor-pointer items-center justify-center rounded-2xl bg-[#e6e4e0] font-serif text-4xl font-black text-green-950"
        >
          1
        </div> -->
        <ChapterOne />
      </article>
    </main>
  </body>
</html>

<style>
  html,
  body {
    background-color: #eeeff1;
  }
</style>

<style is:global>
  iframe,
  img {
    @apply mx-auto my-4 rounded-2xl shadow-lg;
  }
</style>
